html {
  background: #000000;
}


body {
  background: #000000;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #fff !important;
  font-size: 1em;
}

a:hover {

}

.card{
  margin:0 auto;
  float: none;
  margin-bottom: 10px;
}


.card-bg {
  background-color: #272835 !important;
  border: 0;
  border-radius: 0.625em;
}

.card-bg:hover {
  border: 0.063em solid #8597E4;
}

.h5{
  text-align: center;
}

.flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.main-heading{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 7em;
  text-align: center;
  padding-top: 1.5em;
}

*[datatype~="secondary"]{
  font-size: 5em;
  font-weight: 550;
  color:#8597E4;
}

*[datatype~="tertiary"]{
  font-size: 4em;
}
*[datatype~="section"]{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3em;
  text-align: center;
  font-weight: 300 !important;
  color:#8597E4 !important;
  padding-top: 2em;

}
.vh-90 {
  height: 90vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.navbar{
  border-bottom: 0.063em solid #8597E4;
}

h1 {
  text-align: center;

}

.social-links{
  text-align: center; 

}
.input-field{
  width: 12.5em ;
  border-radius: 0.5em;
  height: 1.875em;
  margin-top: 5px;
}

.list-text{
  color: #fff;

}





.inline{
  display: inline;

}


.header-tabs{
  font-size: 1.25em;
  padding-right: 2rem;
  padding-left: 2rem;
}

.header-button{
  font-size: 1em;
  background: #000000;
  color:#fff;
  border: 0;  
}

  
.centered-text{
  text-align: center;
  width: 600px;

}

.about-me-section{
  height: 80vh!important;
}

.buttons{
  margin-left: 50px;
  margin-top: 5px;
  border-radius: 5px
}
.experience-card{
  background:#272835;
   width:50rem;
   border-radius:0.625em
}

.projects-card{
  padding-right: 1em;
  padding-left: 1em;
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /*CSS*/
  
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /*CSS*/
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .main-heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5em;
    text-align: center;
    padding-top: 4.5em;
  }
  
  *[datatype~="secondary"]{
    font-size: 2em;
    color:#8597E4;


  }

  *[datatype~="tertiary"]{
    font-size: 1.75em;
    font-weight: 300;

  }
  *[datatype~="section"]{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    text-align: center;
    font-weight: 200;
    color:#8597E4 !important;
    width: 100%;
    padding-top: 2em;
    
  }

  .centered-text{
    text-align: center;
    width: 300px;

  }

  .header-tabs{
    font-size: 1em;
    padding-right: 0.25em;
    padding-left: 0.25em;
    text-align: center
  }

  .header-button{
    font-size: 1em;
    background: #000000;
    color:#fff;
    border: 0;  
    text-align: center
  }

  .about-me-section{
    height: 85vh!important;
  }
  
  h1 {
    text-align: center;
    font-size: 2em
  }
  .buttons{
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px
  }
  .projects-card{
    padding-right: .5em;
    padding-left: .5em;
  }
  .experience-card{
    background:#272835;
     width:22em;
     border-radius:0.625em
  }
}